html {
		height: 100%;
}
.row{
    width:750px;
    height:70px;
    border-radius:6px;
    background-color: #EEDEAC;
    -webkit-box-shadow: inset 0 0px 1px #866B6B;
    -moz-box-shadow: inset 0 0px 1px #866B6B;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:15px;
}
#box
{
	position:absolute;
	top: 50%;
	left:50%;
width: 224px;
margin: 0px auto;
text-align: left;
padding: 20px;
color: #333;
border: 1px solid #ccc;
box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
-webkit-transform: translate(-50%, -50%);
border-radius:5px;
background: -webkit-linear-gradient(top, #fcf6c4 0%,#FCF6C4 100%);
}
.row:hover{
    -webkit-box-shadow: inset 0 0px 5px #866B6B;
    -webkit-transition: all 0.3s;
    -moz-box-shadow: inset 0 0px 5px #866B6B;
    -moz-transition: all 0.3s;
}
body{
    margin:0;
    background-color: beige;
    height: 100%;
}
.page-wrap {
}
.page-wrap:after {
		content:"";
		display:block;
}
.footer, .page-wrap:after {
		height: 30px;
}

.buy{
    padding:0px;
    position:absolute;
    right:4px;
    bottom:4px;
    border-radius:4px;
    border:0;
}


.quantity{
    width:40px;
    position:absolute;
    bottom: 7px;
    left: 10px;
}

#buyer{
    right:-700px;
    border:0;
    border-radius:4px;
    position: relative;
    padding:0px;
}

#productviewimage{
    left:2px;
    top:2px;
}

.view{
    padding:0px;
    position:absolute;
    right:94px;
    bottom:4px;
    border-radius:4px;
    border:0;
}
ul
{
		list-style-type:none;
		overflow:hidden;
		display: inline-block;
		margin-top:10px;
		padding:0;
}
#prodname{
    padding:4px;
}
.buybutton{
    width:80px;
    height:25px;
    background:-webkit-linear-gradient(top, #8fc800 0%,#8fc800 100%);
    padding:0;
    line-height:20px;
    vertical-align: middle;
}

.buybutton:hover{
  background: darkgreen;
  color:white;
  -webkit-transition: all 2s easeIn 2s;
	-moz-transition: all 2s easeIn 2s;
}

#price{
    position: absolute;
    margin-left: 600px;
    font-size:19pt;
}
.index {
    width: 795px;
    height: auto;
    margin: 0px 10px;
    padding-top: 35px;
    display: inline-block;
    z-index: 1;
    position: relative;
    color: black;
}
#indeximg {
    background: url("../img/mb.jpg");
    margin-top: -500px;
    position: relative;
    width: 815px;
    height: 745px;
    z-index: 0;
    opacity: 0.2;
    border-radius:5px;
}

.viewbutton:hover{
    background: -webkit-linear-gradient(top, #eaefb5 0%,#e1e9a0 100%);
	background: -moz-linear-gradient(top, #eaefb5 0%,#e1e9a0 100%);
    -webkit-transition: all 2s easeIn 2s;
    -moz-transition: all 2s easeIn 2s;
}

.viewbutton{
    width:80px;
    height:25px;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -moz-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    padding:0;
    line-height:20px;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.showcase:hover{
    -webkit-box-shadow: inset 0 0px 5px #866B6B;
    -webkit-transition: all 0.3s;
    -moz-box-shadow: inset 0 0px 5px #866B6B;
    -moz-transition: all 0.3s;
}

.showcase{
    width:250px;
    height:300px;
    margin-left:10px;
    margin-top:5px;
    -webkit-box-shadow: inset 0 0px 1px #866B6B;
    -moz-box-shadow: inset 0 0px 1px #866B6B;
    margin-bottom:5px;
    background-color:rgb(233, 210, 189);
    position:relative;
    vertical-align: text-bottom;
    display:inline-block;
    border-radius:4px;
}
.footer{
    width:100%;
    height:30px;
		background:-webkit-linear-gradient(top, #fcf6c4 0%,#f7e57e 100%);
		background:-moz-linear-gradient(top, #fcf6c4 0%,#f7e57e 100%);
		margin-left:auto;
		margin-right:auto;
		bottom: 0px;
		position: fixed;
    background-color:red;
    -webkit-box-shadow:0px 0px 1px 0px #707070;
    -moz-box-shadow:0px 0px 1px 0px #707070;
}
#content{
    width:815px;
    height:auto;
    border-radius:6px;
    background-color:rgb(246, 229, 184);
    display:block;
    z-index:1;
    margin-left: auto;
    margin-right: auto;
}
#map1{
    padding-top:70px;
    padding-left:7.5px;
    padding-bottom:10px;
	height: 630px;
}
#contact{
		background-image: url("../img/Crown-Juwelen.jpg");
		padding-top:70px;
    padding-left:7.5px;
    padding-bottom:10px;
		height: 500px;
}
#germany{
		background-image: url("../img/germany.png");
		background-size: contain;
		width:94.72px;
		height:125.44px;
		position: relative;
		top: -358px;
		left: 364px;
		opacity: 0.1;
}
#germany:hover{
		opacity: 1;
		top: -361px;
		left: 361px;
		-webkit-filter:drop-shadow(0.25px 0.2px 1px #000);
		-webkit-transition-duration: 0.75s,0.25s;
		-moz-filter:drop-shadow(0.25px 0.2px 1px #000);
		-moz-transition-duration: 0.75s,0.25s;
}
#spain{
		background-image: url("../img/spain.png");
		background-size: contain;
		width:154.24px;
		height:131.52px;
		position: relative;
		top: -351px;
		left: 154px;
		opacity: 0.1;
}
#spain:hover{
		opacity: 1;
		top: -354px;
		left: 152px;
		-webkit-filter:drop-shadow(0.25px 0.2px 1px #000);
		-webkit-transition-duration: 0.75s,0.25s;
		-moz-filter:drop-shadow(0.25px 0.2px 1px #000);
		-moz-transition-duration: 0.75s,0.25s;
}
#mazedonien{
		background-image: url("../img/mazedonien.png");
		background-size: contain;
		width:31.04px;
		height:24.96px;
		position: relative;
		top: -403px;
		left: 514px;
		opacity: 0.1;
}
#mazedonien:hover{
		opacity: 1;
		top: -406px;
		left: 511px;
		-webkit-filter:drop-shadow(0.25px 0.2px 1px #000);
		-webkit-transition-duration: 0.75s,0.25s;
}

#text1{
    padding-top:70px;
    padding-left:10px;
    padding-bottom:13px;
}
#logo{
    background-image: url("../img/logo_off.png");
    background-repeat: no-repeat;
    position: absolute;
    -webkit-filter:drop-shadow(1px 1px 2px #000);
    -moz-filter:drop-shadow(1px 1px 2px #000);
    height:159px;
    width:153px;
    margin-left:-115px;
    z-index:1;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    margin-top:-46px;
		-webkit-transition-duration: 0.35s,0.1s;
}

#logo:hover{
    background-image: url("../img/logo.png");
    -webkit-transition-duration: 0.35s,0.1s;
}

#cart{
    background-repeat: no-repeat;
    position: absolute;
    height:37px;
    width:37px;
    z-index:10;
    margin-top:-2px;
}

#cart2{
    position: absolute;
    height:37px;
    width:37px;
    margin-left:680px;
    margin-top:5px;
}

li
{
		float:left;
		text-align: center;
}

a:link,a:visited
{
		display:block;
		width:120px;
		font-weight:bold;
		font-family: Calibri;
		color:#B95200;
		text-align:center;
		padding:4px;
		text-decoration:none;
		text-transform:uppercase;
}
a:hover,a:active
{
		background-color:#DFB01E;
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
}

#menu{
    height:90px;
    width: 100%;
    background:-webkit-linear-gradient(top, #fcf6c4 0%,#f7e57e 100%);
    background:-moz-linear-gradient(top, #fcf6c4 0%,#f7e57e 100%);
    -webkit-box-shadow:0px 0px 7px 0px #707070;
    -moz-box-shadow:0px 0px 7px 0px #707070;
    position: relative;
    text-align:center;
    z-index:4;
}

.button{
    font-family: Calibri;
}

#currentpage{

    border-left: #DFB01E solid 1px;
    border-right: #DFB01E solid 1px;
}
